TEAM_ID=

PRODUCT_NAME=Brainest
PRODUCT_BUNDLE_IDENTIFIER=com.scellio.brainest.Brainest$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

KOTLIN_FRAMEWORK_SEARCH_PATHS=$(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
FRAMEWORK_SEARCH_PATHS=$(inherited) $(KOTLIN_FRAMEWORK_SEARCH_PATHS)
OTHER_LDFLAGS=$(inherited) -framework ComposeApp
